@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

header {
  @apply uppercase text-center bg-pine-tree text-3xl font-bold py-3 fixed top-0 z-10 w-full;
}

header a { 
  @apply absolute top-1/2 -translate-y-1/2 left-4;
}

section {
  @apply pt-24 pb-16 min-h-screen;
}

.work-grid {
  @apply w-full max-w-2xl mx-auto px-4 mb-10;
}

.work-grid + .work-grid {
  @apply mb-0;
}

.pb-full {
  padding-bottom: 100%;
}

.btn {
  @apply bg-white uppercase p-2 text-black-coffee font-semibold rounded-lg text-center max-w-full;
  width: 350px;
}

.field {
  @apply font-medium rounded-lg border-pine-tree border-2 text-pine-tree p-2 placeholder:text-gray-700 w-full;
}

.field:focus-visible {
  @apply outline-1 outline-pine-tree outline;
}

.homepage {
  @apply flex flex-col-reverse md:flex-row uppercase font-bold items-center justify-center min-h-screen max-w-6xl mx-auto p-4 sm:p-8;
}

.menu {
  @apply relative w-full;
}

.link {
  @apply absolute -translate-x-1/2 -translate-y-1/2 transform block rounded-full text-center;
}

.link span {
  @apply absolute -translate-x-1/2 -translate-y-1/2 transform top-1/2 left-1/2;
}

#link1 {
  top: 33%;
  left: 33%;
  font-size: 8vw;
  width: 51%;
  padding-bottom: 51%;
}

#link2 {
  top: 59%;
  left: 72%;
  font-size: 6vw;
  width: 41%;
  padding-bottom: 41%;
}

#link3 {
  top: 78%;
  left: 36%;
  font-size: 5vw;
  width: 40%;
  padding-bottom: 40%;
}


@screen md {
  #link1 {
    font-size: 4vw;
  }
  
  #link2 {
    font-size: 3vw;
  }
  
  #link3 {
    font-size: 2.3vw;
  }
}

@media screen and (min-width: 1150px) {
  #link1 {
    font-size: 46px;
  }
  
  #link2 {
    font-size: 35px;
  }
  
  #link3 {
    font-size: 26px;
  }
}
